html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.load-menu {
  width: 200px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  position: absolute;
  border: 1px black solid;
  background-color: lightgrey;
  display: none;
  z-index: 3;
}

.load-button {
  width: 42%;
  margin-left: 5%;
  margin-top: 8px;
}

.pass-button {
  width: 42%;
  margin-left: 5%;
}

.password-field {
  width: 181px;
  margin-left: 9px;
}

.world-menu {
  height: 85%;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  background: white;
  overflow: scroll;
}

.container {
  cursor: pointer;
}

.container:hover {
  background: lightskyblue;
}

.world {
  display: inline-block;
}

.trash {
  background-image: url(../images/delete.svg);
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-size: contain;
  border: none;
  position: absolute;
  cursor: pointer;
}

.password-menu {
  width: 200px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  position: absolute;
  border: 1px black solid;
  background-color: lightgrey;
  display: none;
}

.world-map {
  position: absolute;
  z-index: 1;
}

.statistics-placeholder {
  position: absolute;
  padding: 10px;
  right: 0px;
  width: 380px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  pointer-events: none;
  z-index: 2;
}

.id-placeholder {
  position: absolute;
  padding: 10px;
  right: 0px;
  top: 260px;
  width: 380px;
  pointer-events: none;
  color: white;
  z-index: 3;
}

.stats-button .arrow-right {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 6px);
  pointer-events: none;
}

.stats-button .arrow-left {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 1px);
  pointer-events: none;
}

.stats-button {
  position: absolute;
  top:calc(50% - 15px);
  right: 380px;
  width: 26px;
  height: 52px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-color: #4c4c4c;
  border-color: transparent;
  z-index: 2;
}

.buttons-button .arrow-right {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 9px);
  pointer-events: none;
}

.buttons-button .arrow-left {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 7px);
  pointer-events: none;
}

.buttons-button {
  position: absolute;
  top:calc(50% - 15px);
  left: 240px;
  width: 26px;
  height: 52px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #4c4c4c;
  border-color: transparent;
  z-index: 2;
}

.buttons {
  position: absolute;
  z-index: 2;
  width: 240px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.buttons button {
  width: 100%;
}

.title {
  color: white;
  border-bottom: 1px white solid;
  font-size: 1.5rem;
}

.seed-input {
  width: 114px;
}

.save-input {
  width: 136px;
}

#save-world {
  width: 80px;
}

/* World Generator */
.generator {
  height: 230px;
  width: 220px;
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 110px);
  border: 1px black solid;
  background-color: lightgrey;
  display: none;
  padding: 7px;
  z-index: 2;
}

/* Test */

.result-ok {
  color: blue;
}

.result--wrong {
  color:red;
}
